
$color-primary: #3D96A6;
$color-secondary: #E8AA18;
$color-primary-2: #26636E;
$color-secondary-2: #996b02;
$color-light: #FFFFFF;

$text-color: #212529;
$text-color-light: $color-light;
$text-color-dark: #222;

$bg-color: #F9F9F9;
$bg-color-light: $color-light;
$bg-color-dark: #f1efef;

$border-color: $color-primary-2;
$border-color-light: #D9D9D9;
$border-color-light-2: #CCCCCC;

$link-color: $color-secondary;
$hover-primary: #1a444b;
$hover-secondary: #c18d13;